.container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  border-radius: 2px;
}

.mat-column-teamsAction, .mat-column-tagsAction, .mat-column-roleActions {
  flex: 0 0 1% !important;
  margin-right: 5px;
}

.mat-column-teams {
  flex: 0 0 8% !important;
  margin-right: 5px;
}

.mat-columns-project {
  flex: 0 0 0.5% !important;
  padding-left: 20px;
}

.mat-column-firstname, .mat-column-lastname, .mat-column-city, .mat-column-country {
  flex: 0 0 9% !important;
}

.mat-column-actions {
  flex: 0.1;
}

.mat-column-city, .mat-column-teams {
  flex: 0 0 5%;
}

.mat-column-tags, .mat-column-role {
  flex: 0 0 7%;
}

.mat-column-email {
  flex: 0 0 15% !important;
}

.mat-chip {
  background: #1FAFA9;
  color: white;
  font-size: 12px;
}

.dropdown-input {
  margin-top: 10px;
  margin-left: 23px;
  margin-bottom: 10px;
}

.action-button {
  padding: 0 !important;
  width: 30px !important;
  min-width: auto;
  color: #1FAFA9;
}

.mat-input-element {
  font: normal normal normal 14px/30px Muli !important;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom: unset !important;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 2px 10px;
}

::ng-deep.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  background: white;
}

.add-button {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
}
