.container{
  margin: 30px 40px;
  border: 1px solid #FD8947;
  border-radius: 2px;
}
.mat-column-firstname, .mat-column-lastname {
  flex: 0 0 12% !important;
}
.mat-column-email {
  flex: 0 0 20%!important;
}
