.card{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border: 2px solid #FD8947;
  border-radius: 5px;
  font: normal normal bold 20px/40px Muli;
  letter-spacing: 2px;
}
