<h1 mat-dialog-title class="font-style">This is what we found</h1>
<div mat-dialog-content class="grid">
  <span class="font-style-smaller">First name: {{data.data.firstName}}</span>
  <span class="font-style-smaller">Last name: {{data.data.lastName}}</span>
  <span class="font-style-smaller">Position: {{data.data.position}}</span>
  <span class="font-style">Contact data</span>
  <span class="font-style-smaller">Phone number: {{data.data.phone}}</span>
  <span class="font-style-smaller">Email address: {{data.data.email}}</span>
  <span class="font-style">Address</span>
  <span class="font-style-smaller">City: {{data.data.city}}</span>
  <span class="font-style-smaller">Country: {{data.data.country}}</span>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closePopup()">REJECT</button>
  <button mat-button cdkFocusInitial (click)="acceptIdentity()" class="ml-auto">ACCEPT</button>
</div>


