<div *ngIf="data.source === 'EngineerCard'">
  <h1 mat-dialog-title>Add {{data.data.firstName}} {{data.data.lastName}} to a team</h1>
  <div mat-dialog-content class="grid">

    <mat-form-field appearance="fill">
      <mat-label>Teams</mat-label>
      <mat-select [formControl]="teamsFormControl">
        <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">CANCEL</button>
    <button mat-button cdkFocusInitial (click)="linkTeamToEngineer(data.data.id, selectedTeam.id)">SAVE</button>
  </div>
</div>

<div *ngIf="data.source === 'TeamsTable'">
  <h1 mat-dialog-title>Add an engineer to a {{data.data.name}}</h1>
  <div mat-dialog-content class="grid">

    <mat-form-field appearance="fill">
      <mat-label>Engineers</mat-label>
      <mat-select [formControl]="engineersFormControl">
        <mat-option *ngFor="let engineer of engineers" [value]="engineer">{{engineer.firstName}} {{engineer.lastName}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">CANCEL</button>
    <button mat-button cdkFocusInitial (click)="linkTeamToEngineer(selectedEngineer.id, data.data.id)">SAVE</button>
  </div>
</div>
