<div class="header">
  <div class="image">
    <img src="../../../assets/logo-yellow.png" width="10%" (click)="goToHomePage()" class="logo">
    <img src="../../../assets/logo2.png" height="60px">
  </div>

  <div class="user-icon">
    <button mat-button [matMenuTriggerFor]="userActions" class="account-button">
      <mat-icon class="sortinghat-yellow">account_circle</mat-icon>
    </button>
    <mat-menu #userActions="matMenu">
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        Log out
      </button>
    </mat-menu>
  </div>
</div>

