.header {
  height: 100px;
  border-bottom: 2px solid #DBDDDD;
  width: 100%;
  padding-bottom: 40px;
  display: flex;
}

.user-icon {
  width: 20px;
  margin-top: 20px;
}

.logo {
  left: 0;
  top: 0;
  height: 150px;
  width: 200px;
  cursor: pointer;
}

.buttons-container {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  text-align: center;
  font: normal normal bold 25px/75px Muli;
  letter-spacing: 0px;
  color: #4A4343;
  opacity: 1;
  background: white;
  border: none;
  margin-right: 25px;
}

.selected {
  color: #FD8947;
}

.menu-button:hover {
  background: #FD8947;
  border-radius: 5px;
}

.icon {
  margin-top: 4.5%;
  margin-right: 15px;
}
