.header {
  display: flex;
  background: #003F63;
  min-height: 70px;
  filter: drop-shadow(2px 4px 6px black);
}

.menu {
  flex: 0.5;
  margin-top: 20px;
}

.image {
  margin-left: 45%;
  flex: 0.75;
  margin-top: auto
}

.user-icon {
  margin-top: 20px;
}

.mat-drawer-container {
  background: #8F93D8;
}

.mat-drawer {
  background: #8F93D8;
}

.example-sidenav {
  padding-left: 20px;
  font-size: large;
  padding-right: 40px;
}
.logo{
  filter: contrast(0.5);
}
.account-button{
  left: 100%;
  margin-left: 100%;
}
