<h1 mat-dialog-title>Get repository collaborators</h1>
<div mat-dialog-content class="grid">

  <mat-form-field appearance="fill">
    <mat-label>Repository</mat-label>
    <mat-select [formControl]="repositoriesFormControl">
      <mat-option *ngFor="let repository of repositories" [value]="repository">{{repository.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Github username</mat-label>
    <input matInput [(ngModel)]="ownerUsername">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email address</mat-label>
    <input matInput [(ngModel)]="emailAddress">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Access token</mat-label>
    <input matInput [(ngModel)]="token" type="password">
  </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">CANCEL</button>
  <button mat-button cdkFocusInitial (click)="search()">SEARCH</button>
</div>

