<div class="h100p content">
  <div class="new-project-container d-grid">
    <div class="input">
      <input type="text" pInputText [(ngModel)]="projectName" placeholder="Project name..."/>
    </div>
    <div class="file-upload" appDragDropFileUpload (fileDropped)="fileDropped = true; upload($event)">
      <span class="info">Drag and drop files here</span>
      <span class="info">Or</span>
      <div class="button-wrap">
        <label class="button" for="upload">Upload Files</label>
        <input id="upload" type="file" (change)="upload($event)" multiple>
        <p class="filename">{{getFileNames()}}</p>
      </div>
    </div>
    <button mat-button class="save-button font-style" (click)="save()">SAVE</button>
  </div>
  <div class="d-block">
    <app-project *ngFor="let project of projects" [project]="project" (projectDeleted)="onDelete()"></app-project>
  </div>
</div>
