<div class="container mat-elevation-z8" *ngIf="identities?.length > 0">
  <div class="header">
    <div class="mt-5">
      <button class="sortinghat-orange-bg mr-10" mat-button (click)="rejectMerge()">
        <mat-icon>highlight_off</mat-icon>
      </button>
      <button class="sortinghat-cyan-bg" mat-button (click)="merge()">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
    </div>
    <mat-form-field>
      <input matInput (keyup)="handleInput($event)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" class="table">
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller" sticky="true"> First name</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller"> {{identity.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Last name</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller"> {{identity.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Username</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller">{{identity.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Email address</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller">{{identity.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Source</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller">
        <img src="{{getSourceDisplayIcon(identity.source)}}" class="source-logo"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef alignment="center" class="font-style-smaller"></mat-header-cell>
      <mat-cell *matCellDef="let identity">
        <mat-checkbox [checked]="checkIdentity(identity)"
                      (change)="manageCheckboxChange($event, identity)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-toolbar-row class="jc-end">
    <div class="paginator-information">Cluster {{current}} of {{identitiesByCluster.length}}</div>
    <button mat-button class="page-button" (click)="changePage({pageIndex: current - 2})" [disabled]="current === 1">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-button class="page-button" (click)="changePage({pageIndex: current})"
            [disabled]="current === identitiesByCluster.length">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-toolbar-row>
</div>


<span *ngIf="identities?.length === 0" class="message">There are no suggestions for this project</span>
