<div class="container mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="handleInput($event)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> First name</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller"> {{identity.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Last name</mat-header-cell>
      <mat-cell *matCellDef="let identity" class="font-style-smaller"> {{identity.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Username</mat-header-cell>
      <mat-cell *matCellDef="let identity">{{identity.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Email address</mat-header-cell>
      <mat-cell *matCellDef="let identity">{{identity.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef alignment="center" class="font-style-smaller"> Actions</mat-header-cell>
      <mat-cell *matCellDef="let identity">
        <mat-checkbox (click)="getSuggestion(identity)"></mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="grid ml-auto">
    <button class="sortinghat-orange-bg ml-auto" mat-button (click)="merge()">Merge</button>
  </div>
</div>

