.container {
  margin-top: 4rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.input-container {
  margin-top: 0.5rem;
  width: 80%;
}

.source-logo {
  zoom: 0.13;
}

.clean-name-icon {
  display: grid;
  margin-top: auto;
  margin-right: 10px;
  cursor: pointer;
  margin-bottom: 23px;
}

::ng-deep.mat-form-field-appearance-fill .mat-form-field-infix {
  display: flex;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
  border: 1px solid #DBDDDD;
  border-radius: 5px;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

:host::ng-deep.p-datatable .p-datatable-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

:host::ng-deep.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.5rem;
}
