.content {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding-top: 120px;
  margin-bottom: 10px
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font: normal normal bold 30px/35px GT Walsheim Pro;
  color: #FD8947;
}

.icon {
  margin-left: auto;
  margin-right: 45px;
  cursor: pointer;
  zoom: 1.2;
  color: #1FAFA9;
}
