<app-header [project]="project" [currentView]="currentView" (scrollButtonClicked)="scroll($event)"></app-header>
<div class="flex h100p content">
  <div class="w-100p">
    <div class="grid">
      <div class="title">
        {{project?.name}}
      </div>
      <mat-icon matTooltip="Upload" (click)="openFileUploadDialog()" class="icon">cloud_upload</mat-icon>
      <app-engineers-table id="authors"
                           [engineers]="engineers"
                           [engineer]="engineer"
                           [project]="project"
                           [suggestions]="suggestions"
                           (engineerChanged)="getIdentities()"
                           (manualMerge)="getIdentities()"
                           (identitiesChanged)="manageDemerge($event)"></app-engineers-table>
      <app-suggestion-table id="suggestions"
                            [identities]="identities"
                            [project]="project"
                            [engineers]="engineers"
                            [demergedIdentities]="demergedIdentities"
                            (projectEmitter)="manageProjectChanges($event.projectIdentities, $event.engineers)"
                            (engineerEmitter)="engineer = $event"
                            (suggestionsEmitter)="suggestions = $event"></app-suggestion-table>
    </div>
  </div>
</div>
