<app-header></app-header>
<div class="d-flex h100p content">
  <div class="w-100p">
    <div class="d-flex jc-center mb-40">
      <button mat-button class="team-button new-team-btn" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Create a new team
      </button>
    </div>
    <div class="d-flex jc-start f-wrap ml-10 mr-10">
      <div *ngFor="let team of teams" class="mb-5">
        <button mat-button class="team-button smaller-btn"
                (click)="selectTeam(team)"
                [class.selected-team-button]="selectedTeam === team ">{{team.name}}</button>
      </div>
    </div>
    <app-teams-diagram [team]="selectedTeam"
                       [allTeams]="teams"
                       [showAllTeams]="showAllTeams"></app-teams-diagram>
  </div>
</div>
