<div class="container mat-elevation-z8">
  <div class="header">
    <mat-form-field>
      <input matInput (keyup)="handleInput($event)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Team name</mat-header-cell>
      <mat-cell *matCellDef="let team" class="font-style-smaller"> {{team.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Description</mat-header-cell>
      <mat-cell *matCellDef="let team" class="font-style-smaller"> {{team.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="members">
      <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Members</mat-header-cell>
      <mat-cell *matCellDef="let team">
        <mat-chip-list
          cdkDropList
          class="mt-5 mb-5"
          cdkDropListOrientation="horizontal">
          <mat-chip *ngFor="let engineer of getTeamEngineers(team)"  class="font-style-smaller">
            {{engineer.firstName}} {{engineer.lastName}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef alignment="center" class="font-style-smaller"> Actions</mat-header-cell>
      <mat-cell *matCellDef="let team">
        <button mat-button (click)="openDialog(team)">
          <mat-icon>group_add</mat-icon>
        </button>
        <button mat-button (click)="deleteTeam(team)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
