<app-header [project]="project"></app-header>
<div class="flex h100p content">
  <div class="w-100p">
    <div class="grid">
      <div class="title">
        {{project?.name}}
      </div>
        <img src="assets/upload.png" class="image" (click)="openFileUploadDialog()">
      <app-engineers-table [engineers]="engineers"
                           [engineer]="engineer"
                           [showAll]="true"
                           [project]="project"
                           [suggestions]="suggestions"
                           (identitiesChanged)="manageDemerge($event)"></app-engineers-table>
      <app-suggestion-table [identities]="identities"
                            [project]="project"
                            [demergedIdentities]="demergedIdentities"
                            (projectEmitter)="manageProjectChanges($event.projectIdentities, $event.engineers)"
                            (engineerEmitter)="engineer = $event"
                            (suggestionsEmitter)="suggestions = $event"></app-suggestion-table>
    </div>
  </div>
</div>
