<h1 mat-dialog-title>Add new engineer</h1>
<div mat-dialog-content class="grid">
  <div class="d-flex mb-2">
    <p-dropdown [options]="characters" [(ngModel)]="newEngineer.name" [editable]="true" placeholder="Name"></p-dropdown>

    <input type="text" [(ngModel)]="newEngineer.username" placeholder="Username" pInputText>
  </div>
  <div class="d-flex mb-2">
    <input type="text" [(ngModel)]="newEngineer.email" placeholder="Email" pInputText>

    <input type="text" [(ngModel)]="newEngineer.senority" placeholder="Seniority" pInputText>
  </div>
  <div class="d-flex mb-2">
    <input type="text" [(ngModel)]="newEngineer.city" placeholder="City" pInputText>

    <input type="text" [(ngModel)]="newEngineer.country" placeholder="Country" pInputText>
  </div>
  <div class="d-flex mb-2">
    <p-dropdown [options]="teams" [(ngModel)]="newEngineer.teams" placeholder="Team"
                optionLabel="name" id="team" optionValue="id"></p-dropdown>
  </div>
  <div class="d-flex mb-2">
    <p-dropdown [options]="roles" [(ngModel)]="newEngineer.role" placeholder="Role" optionLabel="name"
                optionValue="name"></p-dropdown>

    <p-dropdown [options]="tags" [(ngModel)]="newEngineer.tags" placeholder="Tag" optionLabel="name"></p-dropdown>
  </div>

  <div class="d-flex mb-2">
    <p-dropdown [options]="engineers" [(ngModel)]="newEngineer.reportsTo" placeholder="Superior"
                optionLabel="name" optionValue="id"></p-dropdown>

    <p-dropdown [options]="statuses" [(ngModel)]="newEngineer.status" placeholder="Status"></p-dropdown>
  </div>
</div>
<div mat-dialog-actions class="jc-center">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addEngineer()">Save</button>
</div>
