<h1 mat-dialog-title>Add new engineer</h1>
<div mat-dialog-content class="grid">
  <div class="d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newEngineer.name">
      <mat-select [(ngModel)]="name" (ngModelChange)="newEngineer.name = name" style="width: 10px">
        <mat-option *ngFor="let character of characters" [value]="character">{{character}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="newEngineer.username">
    </mat-form-field>

  </div>
  <div class="d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput [(ngModel)]="newEngineer.email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senority</mat-label>
      <input matInput [(ngModel)]="newEngineer.senority">
    </mat-form-field>
  </div>
  <div class="d-flex">
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput [(ngModel)]="newEngineer.city">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput [(ngModel)]="newEngineer.country">
    </mat-form-field>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Team</mat-label>
    <mat-select [formControl]="teamsFormControl" multiple>
      <mat-option *ngFor="let team of teams" [value]="team">{{team.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select [formControl]="rolesFormControl" multiple>
        <mat-option *ngFor="let role of roles" [value]="role">{{role.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tag</mat-label>
      <mat-select [formControl]="tagFormControl" multiple>
        <mat-option *ngFor="let tag of tags" [value]="tag">{{tag.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="d-flex">
    <mat-form-field appearance="fill">
      <mat-label>Reports To</mat-label>
      <mat-select [formControl]="engineersFormControl" multiple>
        <mat-option *ngFor="let engineer of engineers" [value]="engineer">{{engineer.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="statusFormControl" multiple>
        <mat-option *ngFor="let status of statuses" [value]="status">{{status}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="jc-center">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="addEngineer()">Save</button>
</div>
