:host::ng-deep.p-inputtext, :host::ng-deep.p-dropdown {
  width: 10rem;
  margin-right: 1rem;
}

::ng-deep::placeholder {
  color: #DBDDDD;
}

::ng-deep.mat-dialog-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: normal;
}

::ng-deep.p-dropdown .p-dropdown-label.p-placeholder {
  color: #DBDDDD !important;
}

#team::ng-deep.p-dropdown {
  width: 21rem;
  margin: 0;
}

.w-13 {
  width: 13rem;
}
