.mat-cell:first-of-type, .mat-header-cell:first-of-type, .mat-footer-cell:first-of-type {
  padding-left: 0 !important;
}

.mat-cell:last-of-type, .mat-header-cell:last-of-type, .mat-footer-cell:last-of-type {
  padding-right: 0 !important;
  flex: 0 0 5%;
}

.mat-cell, .mat-footer-cell {
  display: grid;
}

.mat-cell {
  cursor: pointer;
}

.mat-column-teams {
  flex: 0 0 8% !important;
  justify-content: center;
}

.mat-column-city, .mat-column-country, .mat-column-username {
  flex: 0 0 9% !important;
}

.mat-column-city {
  flex: 0 0 5%;
}

.mat-column-tags, .mat-column-role {
  flex: 0 0 8%;
  justify-content: center;
}

.mat-column-email {
  flex: 0 0 15% !important;
}

.mat-column-reportsTo, .mat-column-status {
  justify-content: center;
}

::ng-deep.p-multiselect {
  background: white!important;
  border: 1px solid #DBDDDD!important;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

::ng-deep.p-multiselect .p-multiselect-panel, ::ng-deep.p-multiselect-panel .p-multiselect-header {
  background: white!important;
  border: 1px solid #DBDDDD!important;
}

::ng-deep.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  color: #4A4343!important;
}

:host::ng-deep.p-inputtext, :host::ng-deep.p-dropdown, :host::ng-deep.p-multiselect {
  width: 10rem;
  margin: 0.5rem;
}

::ng-deep.mat-dialog-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: normal;
}

:host::ng-deep.cdk-overlay-pane {
  width: 82vw;
  max-width: unset !important;
}

::ng-deep.p-dropdown .p-dropdown-label.p-placeholder, ::ng-deep.p-multiselect .p-multiselect-label.p-placeholder {
  color: #DBDDDD !important;
}

::ng-deep::placeholder {
  color: #DBDDDD;
}
