.card{
  border: 1px solid #DBDDDD;
  float: left;
  padding: 10px 30px;
  margin-left: 40px;
  margin-top: 20px;
  margin-right: 40px;
  filter: drop-shadow(2px 4px 6px lightgray);
  cursor: pointer;
  width: 300px;
  height: 5rem;
  border-radius: 5px;
}

.delete-btn {
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  padding: 5px;
}
