::ng-deep .mat-card{
  border: 1px solid #FD8947;
  float: left;
  margin: 1px;
  padding: 10px 30px;
  margin-left: 5%;
  margin-top: 20px;
  margin-right: 40px;
  filter: drop-shadow(2px 4px 6px lightgray);
  cursor: pointer;
  width: 300px;
}

._mat-animation-noopable.mat-card {
  justify-content: center;
}
