/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  display: flex!important;
}

.grid {
  display: grid !important;
}

.block {
  display: block !important;
}

.mt-5 {
  margin-top: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mr-10 {
  margin-right: 10px!important;
}

.ml-auto {
  margin-left: auto !important;
}

.ml-10 {
  margin-left: 10px!important;
}

.ml-10p {
  margin-left: 10%!important;
}

.ml-25p {
  margin-left: 25% !important;
}

.ml-40p {
  margin-left: 40% !important;
}

.ml-80p{
  margin-left: 80%!important;
}

.h100p {
  min-height: 100%;
}

.w-80p {
  width: 80%;
}

.w-100p {
  width: 100%;
}

.sortinghat-orange {
  color: #FD8947;
}

.sortinghat-orange-bg {
  background: #FD8947!important;
  color: white;
}

.sortinghat-cyan {
  color: #1FAFA9 !important;
}

.sortinghat-cyan-bg {
  background: #1FAFA9;
  color: white;
}

.add-button {
  color: white;
  margin-left: 45% !important;
}

.font-style-smaller {
  font: normal normal normal 14px/30px Muli!important;
}

.font-style {
  font: normal normal normal 25px/75px Muli;
}

.font-style-bigger {
  font: normal normal bold 30px/35px GT Walsheim Pro;
}

.fs-12 {
  font-size: 12px!important;
}

.d-flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-end {
  justify-content: end;
}

.jc-around {
  justify-content: space-around;
}

.jc-between {
  justify-content: space-between;
}
