/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex{
  display: flex;
}
.grid{
  display: grid!important;
}

.mt-5{
  margin-top: 5px;
}

.mb-5{
  margin-bottom: 5px;
}

.mr-auto{
  margin-right: auto!important;
}
.mr-10{
  margin-right: 10px;
}

.ml-auto{
  margin-left: auto!important;
}
.ml-25p{
  margin-left: 25%!important;
}

.h100p{
  height: 100%;
}

.w-80p{
  width: 80%;
}
.w-100p{
  width: 100%;
}
.sortinghat-orange{
  color: #FD8947;
}
.sortinghat-cyan{
  color: #1FAFA9!important;
}
.sortinghat-cyan-bg{
  background: #1FAFA9;
}
.add-button{
  color:white;
  margin-left: 45%!important;
}
