<h1 mat-dialog-title>{{selectedEngineer.name}}</h1>
<div mat-dialog-content class="grid">
  <div class="d-flex mb-2">
    <p-dropdown [options]="characters" [(ngModel)]="selectedEngineer.name" [editable]="true"
                placeholder="Name"></p-dropdown>

    <input type="text" [(ngModel)]="selectedEngineer.username" placeholder="Username" pInputText>
  </div>
  <div class="d-flex mb-2">
    <input type="text" [(ngModel)]="selectedEngineer.email" placeholder="Email" pInputText>

    <input type="text" [(ngModel)]="selectedEngineer.senority" placeholder="Seniority" pInputText>
  </div>
  <div class="d-flex mb-2">
    <input type="text" [(ngModel)]="selectedEngineer.city" placeholder="City" pInputText>

    <input type="text" [(ngModel)]="selectedEngineer.country" placeholder="Country" pInputText>
  </div>

  <div class="table">
    <mat-table #table [dataSource]="dataSource" *ngIf="dataSource?.data.length > 0">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef class="font-style-smaller">Name</mat-header-cell>
        <mat-cell *matCellDef="let engineer"
                  class="font-style-smaller"> {{engineer?.firstName}} {{engineer?.lastName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Email address</mat-header-cell>
        <mat-cell *matCellDef="let engineer" class="font-style-smaller">{{engineer?.email}}
          <mat-icon class="icon sortinghat-cyan ml-10" (click)="useEmail(engineer.email)">import_export</mat-icon>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="font-style-smaller"> Reject</mat-header-cell>
        <mat-cell *matCellDef="let engineer" class="font-style-smaller">
          <mat-icon class="icon sortinghat-orange" (click)="identities.push(engineer); this.rejectIdentity(engineer)">call_split</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>


<div mat-dialog-actions class="jc-center">
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="save()">Save</button>
</div>
