::ng-deep th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  border-bottom: unset;
}

::ng-deep.mat-dialog-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 2rem;
  font-weight: normal;
}

::ng-deep.mat-dialog-container {
  width: 450px;
  display: flex;
  justify-content: center;
}

.icon {
  cursor: pointer;
}

.mat-column-actions {
  flex: 0.12;
}

:host::ng-deep.p-inputtext, :host::ng-deep.p-dropdown {
  width: 10rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

::ng-deep::placeholder {
  color: #DBDDDD;
}
