<app-header></app-header>
<button mat-button class="toggle-view add-button sortinghat-cyan-bg font-style-smaller delete-button"
        (click)="changeView()">
  <mat-icon *ngIf="tableView">view_comfy</mat-icon>
  <mat-icon *ngIf="cardsView">view_compact</mat-icon>
</button>
<div class="flex h100p content">
  <div class="w-100p" *ngIf="cardsView">
    <app-engineer
      [engineers]="engineers"
      (engineerDeletedEventEmitter)="getData(); engineerDeleted = true"
      (teamLinkedEventEmitter)="getData()">
    </app-engineer>
  </div>
  <div class="w-100p" *ngIf="tableView">
    <div class="d-flex">
      <mat-form-field appearance="fill" class="project-selection">
        <mat-label>Filter by project</mat-label>
        <mat-select [(ngModel)]="project" (ngModelChange)="filterEngineersByProject($event)">
          <mat-option *ngFor="let project of projects" [value]="project">{{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="project-selection">
        <mat-label>Filter by engineer tag</mat-label>
        <mat-select [(ngModel)]="tag" (ngModelChange)="filterEngineersByTag($event)">
          <mat-option *ngFor="let tag of tags" [value]="tag">{{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-engineers-table [engineers]="engineers"
                         [projectFilter]="project"
                         [tagFilter]="tag">
    </app-engineers-table>
  </div>
</div>
